<section class="fxt-template-animation fxt-template-layout25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 fxt-bg-gradient">
                <div class="fxt-header">
                    <div class="fxt-top-content">
                        <div class="fxt-transformY-50 fxt-transition-delay-2">
                            <h1>Open Authentication</h1>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-3">
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal suada.</p>
                        </div>
                    </div>
                    <div class="fxt-bottom-content">
                        <div class="fxt-transformY-50 fxt-transition-delay-11">
                            <p>Back to <a href="javascript:void(0)" routerLink="/auth/login" class="switcher-text inline-text">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <div class="fxt-form">
                        <div class="fxt-transformY-50 fxt-transition-delay-12">
                            <h2>Password reset</h2>
                            <div class="fxt-transformY-50 fxt-transition-delay-13">
                                <p class="ng-m">Create a new password.</p>
                            </div>
                        </div>
                        
                        <form method="POST">
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-15">
                                    <input id="password" type="password" class="form-control"  formControlName="password" name="password" placeholder="********" required="required">
                                    <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-17">
                                    <button type="submit" class="fxt-btn-fill">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  