<section class="fxt-template-animation fxt-template-layout25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 fxt-bg-gradient">
                <div class="fxt-header">
                    <div class="fxt-top-content">
                        <div class="fxt-transformY-50 fxt-transition-delay-1">
                            <!-- <a href="login-25.html" class="fxt-logo"><img src="../../../assets/img/logo-25.png" alt="Logo"></a> -->
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-2">
                            <h1>Open Authentication</h1>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-3">
                            <p>
                              Open Authorization is an open standard authorization web app for
                              token-based authorization on the internet. It acts as an intermediary on
                              behalf of the end user, providing the third-party service with
                              an access token that authorizes specific account information to
                              be shared. The process for obtaining the token is called an
                              authorization flow.
                            </p>
                          </div>
                    </div>
                    <div class="fxt-bottom-content">
                        <div class="fxt-transformY-50 fxt-transition-delay-11">
                            <p>Already have an account? <a href="javascript:void(0)" routerLink="/auth/login" class="switcher-text">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <div class="fxt-form">
                        <div class="fxt-transformY-50 fxt-transition-delay-12">
                            <h2>Create an account</h2>
                        </div>
                        <form [formGroup]="registerForm">

                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-14">
                                    <input type="text" id="name" class="form-control" formControlName="fullname" name="name" placeholder="fullname" required="required">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-14">
                                    <input type="email" class="form-control" formControlName="email" name="email" placeholder="email" required="required">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-15">
                                    <input id="password" type="password" class="form-control" formControlName="password" name="password" placeholder="********" required="required">
                                    <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-17" (click)="register()">
                                    <button type="submit" class="fxt-btn-fill">
                                        <span>{{ connecting.creating ? 'Please wait...' : connectingErrors.creating ? 'Try Again' : 'Register'}}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  