<section class="fxt-template-animation fxt-template-layout25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 fxt-bg-gradient">
                <div class="fxt-header">
                    <div class="fxt-top-content">
                        <div class="fxt-transformY-50 fxt-transition-delay-1">
                            <!-- <a href="login-25.html" class="fxt-logo"><img src="img/logo-25.png" alt="Logo"></a> -->
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-2">
                            <h1>Open Authentication</h1>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-3">
                            <p>
                              Open Authorization is an open standard authorization web app for
                              token-based authorization on the internet. It acts as an intermediary on
                              behalf of the end user, providing the third-party service with
                              an access token that authorizes specific account information to
                              be shared. The process for obtaining the token is called an
                              authorization flow.
                            </p>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <div class="fxt-form">
                        <div class="fxt-transformY-50 fxt-transition-delay-12">
                            <h2>Way to go!</h2>
                        </div>
                        <div class="fxt-transformY-50 fxt-transition-delay-14">
                            <p class="ng-m">A password reset link has been sent to your email. If you did not receive any email make another <a href="/auth/forgot-password">request</a> .</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>